StepFunctions/renew_certificates/renew_certificates.asl.json
{
  "Comment": "Renew certificates",
  "TimeoutSeconds": 3600,
  "StartAt": "CheckCertificates",
  "States": {
    "CheckCertificates": {
      "Type": "Task",
      "Resource": "${CheckCertificatesLambdaArn}",
      "Next": "RenewCertificate"
    },
    "RenewCertificate": {
      "Type": "Task",
      "Resource": "${RenewCertificateLambdaArn}",
      "Next": "IsFinished"
    },
    "IsFinished": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.IsFinished",
          "BooleanEquals": false,
          "Next": "RenewCertificate"
        }
      ],
      "Default": "Completed"
    },
    "Completed": {
      "Type": "Succeed"
    }
  }
}
